@model prjSellor.Models.User

@{
Layout = Session["layOut"].ToString();
}

<h2>Change password</h2>

<head>
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>
    <div>
        @Session["Status"].ToString()
        <br />

        @using (Html.BeginForm("passwordCheck", "User", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>@Html.Password("oldPassword", "", new { @class = "form-control", placeholder = "Old password" })</td>
                </tr>
                <tr>
                    <td>@Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "New password", @type = "password" }) @Html.ValidationMessageFor(x => x.password) @ViewBag.passwordError</td>
                </tr>
                <tr>
                    <td>
                        @Html.Password("passwordConfirm", "", new { @class = "form-control", placeholder = "New password" })
                    </td>
                </tr>
                <tr>
                    <td><input id="submit" type="submit" value="Change password" /></td>
                </tr>
            </table>
        }

    </div>
</body>